body {
  background-color: #B8CAF5;
}
div{
  display: flex;
  flex-direction: column;
  background-color: white ;
  width: 400px;
  height: 500px;
  border-radius: 7.5%;
  margin: 50px auto;
}

h1{
  text-align: center;
}

form {

}

button {

}
