body {
  background-color: #B8CAF5;
}
div{
  display: flex;
  flex-direction: column;
  background-color: white ;
  width: 400px;
  height: 500px;
  border-radius: 7.5%;
  margin: 50px auto;
  justify-content: space-between;
}

h1{
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

.resetear {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.letras {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #bdbdbd;
  border: 1px solid black;
  text-align: center;
}
